<link rel="stylesheet" href="/css/excel/add.css">
{{#each listaPagina}}
<form action="/listBase/add/{{idPage}}" method="post" enctype="multipart/form-data">
    {{/each}}
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoAgregar.png">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="titulo">{{#each lista}}
            <p>Agregar Datos de la lista <input type="text" name="idBase" id="numero" value="{{Maximo}}">
            </p>{{/each}}
        </div>
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="subirExcel">
                    <p>Elegir base de datos ha subir:</p>
                    <input type="file" name="excelSubir" id="bases" required>
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="butonGuardar">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>