<link rel="stylesheet" href="">
{{#each listaPagina}}
<form action="/listBase/baseCosultaMovistar/{{idPage}}" method="post" enctype="multipart/form-data">
{{/each}}
    <div id="contenedor">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="titulo">{{#each lista}}
            <p>Agregar Datos de la lista de contacto <input type="text" name="idBase" id="numero" value="{{Maximo}}"></p>{{/each}}
        </div>
        <div id="datos">
            <div id="subirExcel">
                <p>Elegir base de datos que sea subir:</p>
                <input type="file" name="excelSubir" id="bases" required>
            </div>
            <div id="butonGuardar">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>