{{#each listaInicial}}
<form action="/listBase/baseCosultaMovistar/{{idInitialBase}}" method="post">
{{/each}}
    {{#each lista}}
   <p>{{numerosBaseInicial}}</p>
    {{/each}}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div id="consulta">
        <button type="submit">Consulta</button>
    </div>
</form>