<link rel="stylesheet" href="">
{{#each listaPagina}}
<form action="/listBase/list/{{idPage}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Elegir de Bases de datos a ingresar</p>
        </div>
        {{#each listaPagina}}
        <div id="mas">
            <div id="operadora">
                <a href="/listBase/baseCosultaMovistar/{{idPage}}"><button type="button">Movistar</button></a>
            </div>
            <div id="operadora1">
                <a href="/listBase/baseCosultaClaro/{{idPage}}"><button type="button">Claro</button></a>
            </div>
            <div id="operadora2">
                <a href="/listBase/baseCosultaCnt/{{idPage}}"><button type="button">Cnt</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</form>