<link rel="stylesheet" href="/css/excel/lista.css">
{{#each listaPagina}}
<form action="/listBase/list/{{idPage}}" method="get">
    {{/each}}
    <div id="imagenFondo">
        <img src="/img/fondo/fondoLista.png">
    </div>
    <div id="titulo">
        <p>Elegir Bases de datos</p>
    </div>
    <div id="contenedor">
        {{#each listaPagina}}
        <div id="mas">
            <div id="letras">
                <p>Seleccione la Operadora de Consulta</p>
            </div>
            <div id="operadora">
                <a href="/listBase/baseCosultaMovistar/{{idPage}}"><button type="button">Movistar</button></a>
            </div>
            <div id="operadora1">
                <a href="/listBase/baseCosultaClaro/{{idPage}}"><button type="button">Claro</button></a>
            </div>
            <div id="operadora2">
                <a href="/listBase/baseCosultaCnt/{{idPage}}"><button type="button">Cnt</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</form>