<link rel="stylesheet" href="/css/admin/add.css">
{{#each listaPagina}}
<form action="/clients/add/{{idPage}}" method="post" enctype="multipart/form-data">
    {{/each}}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoRegsitro.png">
        </div>
        <div id="titulo">
            <h1>Cliente de la Pagina {{#each lista}}<input type="text" name="idClient" id="numero"
                    value="{{Maximo}}">{{/each}}
            </h1>
        </div>
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/icons/noImge.png" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoClient" id="seleccionArchivos" accept="image/*" />
            <button type="button" id="botonImagen">Imagen</button>
        </div>
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="nombre">
                    <input type="text" name="completeNameClient" id="completeNameClient" required placeholder="Nombre Completo:">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="cedula">
                    <input type="text" name="identificationCardClient" id="identificationCardClient" required value="Cedula:">
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="correo">
                    <input type="text" name="emailClient" id="emailClient"  placeholder="Email:">
                </div>
            </div>
            <div id="foto4">
                <img src="/img/fondo/bode.png">
                <div id="Celular">
                    <input type="text" name="cellPhoneClient" id="cellPhoneClient" required placeholder="Celular:">
                </div>
            </div>
            <div id="foto5">
                <img src="/img/fondo/bode.png">
                <div id="Usuario">
                    <p></p>
                    <input type="text" name="usernameClient" id="usernameClient" required placeholder="Usuario:">
                </div>
            </div>
            <div id="foto6">
                <img src="/img/fondo/bode.png">
                <div id="Contraseña">
                    <input type="password" name="passwordClient" id="passwordClient" required placeholder="Contraseña:">
                </div>
            </div>
            <div id="foto10">
                <img src="/img/fondo/bode.png">
                <div id="Boton">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/preview.js"></script>
<script src="/js/botonImagen.js"></script>