<link rel="stylesheet" href="/css/inicio.css">
<div id="inicio">
    <div id="imagen">
        <img src="/img/fondo/fondo.png">
    </div>
    <div id="titulo">
        <p>BIENVENIDO A DATA BASE</p>
        <h2>¡Comienza una nueva experiencia única! </h2>
    </div>
    <div id="lineas">
        <img src="/img/fondo/bode.png">
        <div id="boton">
            <a href="/login"><button type="button">DATA BASE</button></a>
        </div>
    </div>
</div>