<link rel="stylesheet" href="/css/rol/add.css">
{{#each listaPagina}}
<form action="/rol/add/{{idPage}}" method="post">
    {{/each}}
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoAgregar.png">
        </div>
        <div id="titulo">
            <p>Agregar Rol</p>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{#each listaRol}}
        <input type="text" name="idRol" id="numero" value="{{maximo}}">
        {{/each}}
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="nombre">
                    <input type="text" name="nameRol" id="nameRol" placeholder="Nombre de Rol:">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="boton">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>