<link rel="stylesheet" href="css/login/index.css">
<div id="vertical-line"></div>
<form action="/Login" method="post">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/indexFondo.png" alt="">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="datos">
            <div id="logo">
                {{#each lista}}
                <img src="/img/page/{{photoPage}}">
                {{else}}
                <img src="img/icons/noImge.png">
                {{/each}}
            </div>
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="usuario">
                    <input type="text" name="username" id="username" required placeholder="Ingresa la Cuenta">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="contraseña">
                    <input type="text" name="password" id="password" required placeholder="Ingresa la Contraseña ">
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="boton">
                    <button type="submit">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</form>