<link rel="stylesheet" href="/css/login/register.css">
<form action="/Register" method="post" enctype="multipart/form-data">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoRegsitro.png">
        </div>
        <div id="titulo">{{#each lista}}
            <h1>PROCESO REGISTRO<input type="text" name="idUser" id="numero" value="{{Maximo}}"></h1>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/icons/noImge.png" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoUser" id="seleccionArchivos" accept="image/*" />
            <button type="button" id="botonImagen">Imagen</button>
        </div>
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="nombre">
                    <input type="text" name="completeNameUser" id="completeNameUser" required placeholder="Nombre Completo:">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="cedula">
                    <input type="text" name="identificationCardUser" id="identificationCardUser" required placeholder="Cedula:">
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="correo">
                    <input type="text" name="emailUser" id="emailUser" required placeholder="Email:">
                </div>
            </div>
            <div id="foto4">
                <img src="/img/fondo/bode.png">
                <div id="Celular">
                    <input type="text" name="cellPhoneUser" id="cellPhoneUser" required placeholder="Celular:">
                </div>
            </div>
            <div id="foto5">
                <img src="/img/fondo/bode.png">
                <div id="Usuario">
                    <input type="text" name="username" id="usernameUser" required placeholder="Usuario:">
                </div>
            </div>
            <div id="foto6">
                <img src="/img/fondo/bode.png">
                <div id="Contraseña">
                    <input type="password" name="password" id="password" required placeholder="Contraseña:">
                </div>
            </div>
            <div id="foto7">
                <img src="/img/fondo/bode.png">
                <div id="Boton">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/preview.js"></script>
<script src="/js/numero.js"></script>
<script src="/js/botonImagen.js"></script>