<link rel="stylesheet" href="/css/login/registercss">
<form action="/Register" method="post" enctype="multipart/form-data">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoRegsitro.png">
        </div>
        <div id="titulo">{{#each lista}}
            <h1>PROCESO REGISTRO<input type="text" name="idUser" id="numero" value="{{Maximo}}"></h1>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/usuario/god.jpg" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoUse" id="seleccionArchivos" accept="image/*" />
        </div>
        <div id="datos">
            <div id="nombre">
                <p>Nombre Completo:</p>
                <input type="text" name="completeNameUser" id="completeNameUser" required>
            </div>
            <div id="cedula">
                <p>Cedula:</p>
                <input type="text" name="identificationCardUser" id="identificationCardUser" required>
            </div>
            <div id="correo">
                <p>Email:</p>
                <input type="text" name="emailUser" id="emailUser" required>
            </div>
            <div id="Celular">
                <p>Celular:</p>
                <input type="text" name="cellPhoneUser" id="cellPhoneUser" required>
            </div>
            <div id="Usuario">
                <p>Usuario:</p>
                <input type="text" name="username" id="usernameUser" required>
            </div>
            <div id="Contraseña">
                <p>Contraseña:</p>
                <input type="password" name="password" id="password" required>
            </div>
            <div id="Boton">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/preview.js"></script>
<script src="/js/numero.js"></script>